REACT_APP_SOCKET_URL=https://juicy.lcind.space/
REACT_APP_SERVER_URL=https://juicy.lcind.space/
REACT_APP_API_URL=https://juicy.lcind.space/
REACT_APP_FIREBASE_PROJECT_ID=juicee-144d1F
REACT_APP_GROQ_API_KEY=your_groq_api_key_here
